* {
    box-sizing: border-box;
}
nav {
    background-color: blue;
    color: white;
    height: 5vh;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.logo {
    display: flex;
    justify-content: left;
    margin: 0 10px;
}
.nav--menu {
    display: flex;
    align-content: right;
    margin: 0 10px;
}